<mat-toolbar>
    <span>{{fee_heading}}</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>
<div id="wrapper">
    <form [formGroup]="fee_form">

        <div class="user_image">
            <img src={{imgUrl}} alt="user image" width="100%" height="100%" formControlName="std_img">
        </div>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Registration</mat-label>
            <input matInput type="text" placeholder="Registration" formControlName="std_reg" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Student Name</mat-label>
            <input matInput formControlName="student_id_fk" readonly placeholder="Enter student name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Father</mat-label>
            <input matInput formControlName="std_father_name" readonly placeholder="Enter father name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Mobile</mat-label>
            <input matInput type="number" formControlName="std_whatsapp_no" readonly
                onkeypress=" return this.value.length < 10"
                oninput="if(this.value.length>=10) {this.value = this.value.sclice (0,10);}"
                placeholder="Enter whatsapp no">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="std_address" readonly placeholder="Enter address" class="address"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Course</mat-label>
            <input matInput formControlName="course_id_fk" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Batch</mat-label>
            <input matInput formControlName="batch_id_fk" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Total Fee</mat-label>
            <input type="number" matInput formControlName="course_total_fee" readonly placeholder="Enter total fee">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Half Fee</mat-label>
            <input type="number" matInput formControlName="course_half_fee" readonly placeholder="Enter half fee">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Quarter Fee</mat-label>
            <input type="number" matInput formControlName="course_quarter_fee" readonly placeholder="Enter quarter fee">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Monthly Fee</mat-label>
            <input type="number" matInput formControlName="course_monthly_fee" readonly placeholder="Enter monthly fee">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Admission Fee</mat-label>
            <input type="number" matInput formControlName="course_admission_fee" readonly
                placeholder="Enter admission fee">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Roll No</mat-label>
            <input type="number" matInput formControlName="roll_no" readonly placeholder="Enter roll no">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Fee Type</mat-label>
            <mat-select formControlName="fee_type" (valueChange)="select_fee_type($event)">
                <mat-option value="Admission Fee">Admission Fee</mat-option>
                <mat-option value="Total Fee">Tution Fee (Total)</mat-option>
                <mat-option value="Half Fee"> Tution Fee (Half)</mat-option>
                <mat-option value="Quarter Fee">Tution Fee (Quarter)</mat-option>
                <mat-option value="Monthly Fee">Monthly Fee</mat-option>
                <mat-option value="Other Fee">Other Fee</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Monthly</mat-label>
            <mat-select [disabled]="monthly_act" formControlName="fee_monthly" (valueChange)="select_month($event)">
                <mat-option value="January">January</mat-option>
                <mat-option value="February">February</mat-option>
                <mat-option value="March">March</mat-option>
                <mat-option value="April">April</mat-option>
                <mat-option value="May">May</mat-option>
                <mat-option value="June">June</mat-option>
                <mat-option value="July">July</mat-option>
                <mat-option value="August">August</mat-option>
                <mat-option value="September">September</mat-option>
                <mat-option value="October">October</mat-option>
                <mat-option value="November">November</mat-option>
                <mat-option value="December">December</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Payment Mode</mat-label>
            <mat-select formControlName="fee_mode" [ngModel]="autoselect">
                <mat-option value="Online">Online</mat-option>
                <mat-option value="Offline">Offline</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Current Dues</mat-label>
            <input type="number" matInput formControlName="dues_amt" readonly placeholder="Enter current dues">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Amount</mat-label>
            <input type="number" matInput formControlName="fee_amount" (keyup)="amount_calc()"
                placeholder="Enter amount">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Discount</mat-label>
            <input type="number" matInput (keyup)="discount_calc()" formControlName="dist_amt"
                placeholder="Enter discount">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Net Amount</mat-label>
            <input type="number" matInput formControlName="net_amt" placeholder="Enter net amount">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input type="date" max="5050-01-01" class="boxdate" matInput formControlName="fee_date">
        </mat-form-field>

        <mat-form-field appearance="fill" class="description">
            <mat-label>Address</mat-label>
            <textarea formControlName="fee_description" matInput placeholder="Enter address"></textarea>
        </mat-form-field>

        <input type="number" [(ngModel)]="admin" formControlName="admin_id_fk" hidden readonly>

        <div class="submit">
            <button mat-raised-button color="primary" [disabled]="!fee_form.valid" (click)="fee_btn()">Add</button>
        </div>
    </form>
</div>