<div id="wrapper">
    <div id="login_main">
        <br>
        <div id="login_box">
            <h2>Institute Login</h2>
            <img src="{{imgBaseUrl}}login.png" alt="login" width="100" height="100"><br>
            <form [formGroup]="inst_login_form">
                <div class="txt_box_with_icon">
                    <mat-icon>account_circle</mat-icon>
                    <mat-form-field class="example-full-width">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter your E-mail" formControlName="username">
                    </mat-form-field>
                </div>
                <br>
                <div class="txt_box_with_icon">
                    <mat-icon>lock</mat-icon>
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input (keyup.enter)="inst_login()" matInput [type]="hide ? 'password' : 'text'"
                            placeholder="Enter your password" formControlName="inst_password"
                            onkeypress=" return this.value.length < 20">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide" >
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </form>
            <span (click)="forgot_password()">Forgot Password ?</span><br>
            <button mat-button mat-raised-button color="primary" (click)="inst_login()">
                Login Now
            </button><br>
            <span *ngIf="!sendotp">
            <mat-form-field class="example-full-width">
                <mat-label>OTP</mat-label>
                <input matInput placeholder="Enter OTP E-mail" formControlName="otp" maxlength="6" >
            </mat-form-field>
            <button mat-button mat-raised-button color="primary" (click)="inst_login()">
                 Verify
            </button><br></span>
        </div>
    </div>
    

</div>