<mat-sidenav-container>
    <mat-sidenav #sidebar mode="side" [opened]="action_menu">
        <app-institute-sidebar></app-institute-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <mat-icon (click)="sidebar.toggle()">menu</mat-icon> 
                    <span class="example-spacer"></span>
                        <div class="name_text">
                           <span class="inst_name"> Login as : &nbsp;{{ name | titlecase}} </span>
                           <h6 style="font-size: 10px; text-align: center;"> (Center Code : {{center_code}} &nbsp;{{ center | uppercase}}) </h6>
                        </div>&nbsp;
                        <button id="logo_panel" [matMenuTriggerFor]="menu">
                            <img src={{url}}{{img_url}} width="50" height="50" style="border-radius:100%;">
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item class="action_btn" (click)="profile_update()">Update Profile</button>
                            <button mat-menu-item class="action_btn" >I-Card</button>
                            <button mat-menu-item class="action_btn" (click)="inst_change_pwd()">Change
                                Password</button>
                            <button mat-menu-item class="action_btn" (click)="logout()">Logout</button>
                        </mat-menu>
                </mat-toolbar>
            </div>
            <div class="main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>