<mat-toolbar>
    <span>Add Expense</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>
<div id="wrapper">
    <form [formGroup]="expenseForm">

        <mat-form-field appearance="fill">
            <mat-label>Expense Type</mat-label>
            <mat-select formControlName="expense_type" [disabled]="!isEditData">
                <mat-option value="Rent">Rent</mat-option>
                <mat-option value="Power Bill">Power Bill</mat-option>
                <mat-option value="Wagegs">Wagegs</mat-option>
                <mat-option value="Telephone">Telephone</mat-option>
                <mat-option value="Breakfast">Breakfast</mat-option>
                <mat-option value="Furniture">Furniture</mat-option>
                <mat-option value="Computers & Access">Computers & Access</mat-option>
                <mat-option value="Salary">Salary</mat-option>
                <mat-option value="Markieting">Markieting</mat-option>
                <mat-option value="Other">Other</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Expense Amount</mat-label>
            <input formControlName="expense_amount" matInput type="number" placeholder="Enter amount"
                [readonly]="!isEditData">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label> Pay To</mat-label>
            <input formControlName="expense_pay_to" matInput placeholder="Enter pay to" [readonly]="!isEditData">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>WhatsApp No</mat-label>
            <input formControlName="expense_mobile" matInput type="number" onkeypress=" return this.value.length < 10"
                oninput="if(this.value.length>=10) {this.value = this.value.sclice (0,10);}"
                placeholder="Enter whatsapp no" [readonly]="!isEditData">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Date</mat-label>
            <input type="date" class="boxdate" matInput formControlName="expense_date">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Employee</mat-label>
            <mat-select formControlName="employee_id_fk" [disabled]="!isEditData">
                <mat-option *ngFor="let emp of emp_data" [value]="emp.emp_id">{{emp.emp_name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="description">
            <mat-label>Description</mat-label>
            <textarea type="text" matInput formControlName="expense_desc" placeholder="Enter description"
            [readonly]="!isEditData"></textarea>
        </mat-form-field>

        <input formControlName="admin_id_fk" type="number" ngModel={{admin_id}} readonly hidden>

        <div class="submit">
            <button *ngIf="isEditData" mat-raised-button color="warn"
                (click)="expence_data_reset()">Reset</button>&nbsp;&nbsp;&nbsp;
            <button *ngIf="isEditData" mat-raised-button color="primary" (click)="onSubmit()"
                [disabled]="!expenseForm.valid">{{actionBtn}}</button>
        </div>
    </form>
</div>