.wrapper {
  width: 100%;
  height: 100vh;
  cursor: default;
}

#header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 500;
  box-shadow: 2px 2px 10px rgb(189, 189, 189);
  background-color: white;
}

#logo {
  width: 50%;
  height: 100%;
  float: left;
}

#logo img {
  width: 22%;
  height: 139%;
  margin-left: 10%;
  margin-top: -12px;
  cursor: pointer;
}

#btn_area {
  width: 50%;
  height: 100%;
  float: left;
}

#btn_area button {
  border-radius: 20px;
  float: right;
  font-family: cambria;
  font-size: 20px;
  margin-right: 15%;
  margin-top: 20px;
  transition: 0.5s;
  border: 2px solid black;
}

#btn_area button:hover {
  background-color: rgb(46, 46, 54);
  color: white;
}

#slider {
  width: 100%;
  height: 800px;
  padding-top: 80px;
}

#slider_content {
  width: 50%;
  height: 100%;
  float: left;
}

#slider_content h2 {
  font-size: 45px;
  font-weight: bold;
  margin-top: 150px;
  margin-left: 60px;
  line-height: 50px;
  letter-spacing: 1px;
}

#slider_content p {
  margin-left: 60px;
  font-size: 20px;
  font-family: serif;

}

#slider_content button {
  margin-left: 60px;
  margin-top: 15px;
  border: 2px solid black;
  font-size: 18px;
  font-family: cambria;
  border-radius: 20px;
  transition: 0.5s;
}

#slider_content button:hover {
  background-color: rgb(50, 51, 65);
  color: white;
}

#slider_img {
  width: 50%;
  height: 100%;
  float: left;
}

#slider_img img {
  height: 100%;
  width: 100%;
}

#choose_us {
  width: 100%;
  height: auto;
  padding: 0px 20px;
}

#choose_us strong {
  width: 100%;
  height: 50px;
  display: block;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
  line-height: 30px;
}

#choose_content {
  width: 100%;
  height: auto;
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
  padding: 10px;
  word-spacing: 5px;
}


#contact {
  width: calc(100% - 20%);
  height: 500px;
  border-radius: 20px;
  margin-left: 10%;
  box-shadow: 0px 0px 5px gray;
  margin-bottom: 25px;
  margin-top: 5px;
}

#contact2 {
  width: calc(100% - 20%);
  height: 500px;
  border-radius: 20px;
  margin-left: 10%;
  box-shadow: 0px 0px 5px gray;
  margin-bottom: 25px;
}

.contact_form_img {
  width: 500px;
  height: 100%;
  float: left;
  border-radius: 20px 0px 0px 20px;
  background-color: rgb(251 251 251);
}

.contact_form_img img {
  width: 100%;
  height: 100%;
}

.contact_form {
  width: calc(100% - 500px);
  height: 100%;
  float: right;
  padding: 50px 70px;
  border-radius: 0px 20px 20px 0px;
}

.contact_form h4 {
  font-size: 20px;
  font-weight: 500;
}

.contact_form a {
  text-decoration: none;
  color: black;
}

mat-form-field {
  width: 100%;
}

.submit {
  display: flex;
  justify-content: center;
}

.submit button {
  margin-left: 10px;
}

.my_info {
  font-size: 20px;
  display: flex;
  justify-content: start;
  margin-bottom: 25px;
  line-height: 35px;
  cursor: pointer;
}

.maticon {
  line-height: 36px;
  width: auto;
  height: auto;
  margin-right: 5px;
}

#footer {
  width: 100%;
  height: 40px;
  font-size: 15px;
  padding: 10px;
  background-color: rgb(34, 32, 43);
}

#footer a {
  text-decoration: none;
  color: white;
}

#footer span {
  color: white;
  float: right;
}

@media (min-width:968px) and (max-width:1268px) {

  #contact {
    width: calc(100% - 6%);
    height: 450px;
    margin-left: 3%;
  }

  #contact2 {
    width: calc(100% - 6%);
    height: 480px;
    margin-left: 3%;
  }

  .contact_form_img {
    width: 400px;
  }

  .contact_form {
    width: calc(100% - 400px);
    padding: 30px;
  }

  #logo img {
    width: 35%;
  }

}

@media (min-width:768px) and (max-width:968px) {
  #slider {
    display: flex;
    height: 770px;
    flex-direction: column-reverse;
  }

  #slider_img {
    width: 100%;
    height: 70%;
    float: left;
  }

  #slider_content {
    width: 100%;
    height: 30%;
    float: left;
  }

  #slider_content h2 {
    margin-top: 1px;
    margin-left: 18px;
    font-size: 30px;
    margin-bottom: 5px;
  }

  #slider_content p {
    margin-left: 19px;
  }

  #slider_content button {
    margin-left: 22px;
  }

  #choose_us {
    padding: 10px;
  }

  #choose_us strong {
    font-size: 27px;
  }

  #contact {
    width: calc(100% - 10%);
    height: 750px;
    margin-left: 5%;
  }

  #contact2 {
    width: calc(100% - 10%);
    height: 750px;
    margin-left: 5%;
  }

  .contact_form_img {
    width: 100%;
    height: 300px;
    float: left;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(251 251 251);
  }

  .contact_form {
    width: 100%;
    height: calc(100% - 300px);
    float: right;
    padding: 10px 45px;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(255, 255, 255);
  }

  .my_info {
    line-height: 35px;
    margin-bottom: 23px;
  }

  #logo img {
    width: 40%;
  }

}

@media (min-width:420px) and (max-width:768px) {
  #slider {
    display: flex;
    height: 660px;
    flex-direction: column-reverse;
  }

  #slider_img {
    width: 100%;
    height: 60%;
    float: left;
  }

  #slider_content {
    width: 100%;
    height: 40%;
    float: left;
  }

  #slider_content h2 {
    margin-top: 1px;
    margin-left: 18px;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 5px;
  }

  #slider_content p {
    margin-left: 20px;
    font-size: 17px;
  }

  #slider_content button {
    margin-left: 22px;
    margin-top: 20px;
  }

  #choose_us {
    padding: 10px;
  }

  #choose_us strong {
    font-size: 20px;
  }

  #contact {
    width: calc(100% - 10%);
    height: 750px;
    margin-left: 5%;
  }

  #contact2 {
    width: calc(100% - 10%);
    height: 650px;
    margin-left: 5%;
  }

  .contact_form_img {
    width: 100%;
    height: 300px;
    float: left;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(251 251 251);
  }

  .contact_form {
    width: 100%;
    height: calc(100% - 300px);
    float: right;
    padding: 10px 20px;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(255, 255, 255);
  }

  .my_info {
    line-height: 25px;
    font-size: 13px;
    margin-bottom: 12px;
  }

  .maticon {
    line-height: 30px;
  }

  #logo img {
    width: 60%;
    height: 120%;
    margin: -3px 15px;
  }
}

@media (min-width:356px) and (max-width:420px) {
  #slider {
    display: flex;
    height: 590px;
    margin-left: 10px;
    flex-direction: column-reverse;
  }

  #slider_img {
    width: 100%;
    height: 60%;
    float: left;
  }

  #slider_content {
    width: 100%;
    height: 40%;
    float: left;
  }

  #slider_content h2 {
    margin-top: 1px;
    margin-left: 18px;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 5px;
  }


  #slider_content p {
    margin-left: 19px;
    font-size: 17px;
  }

  #slider_content button {
    margin-left: 20px;
  }

  #choose_us {
    margin-left: 8px;
    padding: 10px 0px 10px 10px;
  }

  #choose_us strong {
    font-size: 20px;
  }

  #contact {
    width: calc(100% - 3%);
    height: 750px;
    margin-left: 6%;
  }

  #contact2 {
    width: calc(100% - 3%);
    height: 650px;
    margin-left: 6%;
  }

  .contact_form_img {
    width: 100%;
    height: 300px;
    float: left;
    border-radius: 20px 20px 0px 0px;
  }

  .contact_form {
    width: 100%;
    height: calc(100% - 300px);
    float: right;
    padding: 10px 20px;
    border-radius: 0px 0px 20px 20px;
  }

  .my_info {
    line-height: 25px;
    font-size: 13px;
    margin-bottom: 12px;
  }

  .maticon {
    line-height: 30px;
  }

  #logo img {
    width: 70%;
    height: 120%;
    margin: -3px 15px;
  }

  #footer {
    width: 109%;
  }
}

@media (min-width:280px) and (max-width:356px) {
  #slider {
    display: flex;
    height: 580px;
    width: 388px;
    margin-left: 4px;
    flex-direction: column-reverse;
  }

  #slider_img {
    width: 100%;
    height: 60%;
    float: left;
    padding: 1px 7px;
  }

  #slider_content {
    width: 100%;
    height: 40%;
    float: left;
  }

  #slider_content h2 {
    margin-top: 1px;
    margin-left: 18px;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 5px;
  }

  #slider_content p {
    margin-left: 19px;
    font-size: 17px;
  }

  #slider_content button {
    margin-left: 20px;
    margin-top: 10px;
  }

  #choose_us {
    width: 385px;
    margin-left: 8px;
    padding: 10px 0px 10px 10px;
  }

  #choose_us strong {
    font-size: 20px;
  }

  #contact {
    width: 115%;
    height: 750px;
    margin-left: 7%;
  }

  #contact2 {
    width: 115%;
    height: 650px;
    margin-left: 7%;
  }

  .contact_form_img {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
  }

  .contact_form {
    width: 100%;
    height: calc(100% - 300px);
    padding: 10px 20px;
    border-radius: 0px 0px 20px 20px;
  }

  .my_info {
    line-height: 25px;
    font-size: 13px;
    margin-bottom: 12px;
  }

  .maticon {
    line-height: 30px;
  }

  #logo img {
    width: 70%;
    height: 125%;
    margin: -7px 15px;
  }

  #footer {
    width: 130%;
  }
}