<div class="head">
  <span class="enquiry_text">Fee Details</span>
</div>
<div class="count_area_fee">
  <span >Total : {{count_payment}}</span>
  <div *ngIf="login.inst_id">
    <mat-form-field appearance="fill" class="month_box" *ngIf="!std_id">
      <mat-label>Year</mat-label>
      <mat-select (valueChange)="onyear($event)" [(value)]="autoselect">
        <mat-option value="2017">2017</mat-option>
        <mat-option value="2018">2018</mat-option>
        <mat-option value="2019">2019</mat-option>
        <mat-option value="2020">2020</mat-option>
        <mat-option value="2021">2021</mat-option>
        <mat-option value="2022">2022</mat-option>
        <mat-option value="2023">2023</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="month_box" *ngIf="!std_id">
      <mat-label>Month</mat-label>
      <mat-select (valueChange)="onmonth($event)" [(value)]="monthselect">
        <mat-option value="all">All</mat-option>
        <mat-option value="01">January</mat-option>
        <mat-option value="02">February</mat-option>
        <mat-option value="03">March</mat-option>
        <mat-option value="04">April</mat-option>
        <mat-option value="05">May</mat-option>
        <mat-option value="06">June</mat-option>
        <mat-option value="07">July</mat-option>
        <mat-option value="08">August</mat-option>
        <mat-option value="09">September</mat-option>
        <mat-option value="10">October</mat-option>
        <mat-option value="11">November</mat-option>
        <mat-option value="12">December</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div *ngIf="login.inst_id">
      <mat-form-field appearance="fill">
          <mat-label>From</mat-label>
          <input type="date" matInput class="boxdate" (change)="fromdate($event)">
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>To</mat-label>
          <input type="date" matInput class="boxdate" (change)="todate($event)">
      </mat-form-field>
  </div>
  <span class="example-spacer"></span>
  <input type="text" [ngClass]="(login.inst_id)?inst_login : std_login" placeholder="Search" matInput (keyup)="applyFilter($event)" #input>
</div>

<!-- for description table -->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort cellSpacing="50">

    <ng-container matColumnDef="payment_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> S.N. </th>
      <td [ngClass]="(login.inst_id)?inst_td_height : std_td_height" mat-cell *matCellDef="let row; let i = index">
        {{(paginatorRef.pageIndex * paginatorRef.pageSize)+(i+1)}}
      </td>
    </ng-container>
    <ng-container matColumnDef="std_photo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Photo </th>
      <td [ngClass]="(login.inst_id)?inst_td_height : std_td_height" mat-cell *matCellDef="let row"><img
          src="{{imgUrl}}{{row.std_img}}" width="60px" height="60px" alt="image" style="border-radius: 50px;">
      </td>
    </ng-container>

    <ng-container matColumnDef="reg_no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Number </th>
      <td [ngClass]="(login.inst_id)?inst_td_height : std_td_height" mat-cell *matCellDef="let row">
        {{row.std_regist_no}}</td>
    </ng-container>
    <ng-container matColumnDef="std_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td [ngClass]="(login.inst_id)?inst_td_height : std_td_height" mat-cell *matCellDef="let row"> {{row.std_name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="std_whatsapp_no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
      <td [ngClass]="(login.inst_id)?inst_td_height : std_td_height" mat-cell *matCellDef="let row">
        {{row.std_whatsapp_no}} </td>
    </ng-container>

    <ng-container matColumnDef="course_id_fk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course </th>
      <td [ngClass]="(login.inst_id)?inst_td_height : std_td_height" mat-cell *matCellDef="let row"> {{row.course_name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="batch_id_fk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Batch </th>
      <td [ngClass]="(login.inst_id)?inst_td_height : std_td_height" mat-cell *matCellDef="let row"> {{row.batch_name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="roll_no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Roll </th>
      <td [ngClass]="(login.inst_id)?inst_td_height : std_td_height" mat-cell *matCellDef="let row"> {{row.roll_no}}
      </td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
      <td [ngClass]="(login.inst_id)?inst_td_height : std_td_height" mat-cell *matCellDef="let row"> {{row.discount |
        currency:'INR':'symbol-narrow':'0.2'}} </td>
    </ng-container>

    <ng-container matColumnDef="fee_monthly">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Month </th>
      <td [ngClass]="(login.inst_id)?inst_td_height : std_td_height" mat-cell *matCellDef="let row">
        <p [hidden]="!row.fee_monthly">{{row.fee_monthly}}</p>
        <p [hidden]="row.fee_monthly"> - </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="fee_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fee Type </th>
      <td [ngClass]="(login.inst_id)?inst_td_height : std_td_height" mat-cell *matCellDef="let row"> {{row.fee_type}}
      </td>
    </ng-container>

    <ng-container matColumnDef="fee_amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
      <td [ngClass]="(login.inst_id)?inst_td_height : std_td_height" mat-cell *matCellDef="let row"> {{row.fee_amount |
        currency:'INR':'symbol-narrow':'0.2'}} </td>
    </ng-container>
    <ng-container matColumnDef="net_amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Net Amount </th>
      <td [ngClass]="(login.inst_id)?inst_td_height : std_td_height" mat-cell *matCellDef="let row"> {{row.net_amount |
        currency:'INR':'symbol-narrow':'0.2'}} </td>
    </ng-container>

    <ng-container matColumnDef="fee_description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let row"> {{row.fee_description}} </td>
    </ng-container>

    <ng-container matColumnDef="fee_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let row"> {{row.fee_date | date: 'dd-MM-yyyy'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" id="thead"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="thead"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="14" style="color:silver;">No record found"{{input.value}}"</td>
    </tr>

  </table>

  <mat-paginator #paginatorRef [pageSizeOptions]="[5, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

<div id="status_bar" *ngIf="login.inst_id">
  <span>Total Amount : {{total_amount | currency:'INR':'symbol-narrow':'0.2'}}</span>
  <span>Total Discount : {{total_discount | currency:'INR':'symbol-narrow':'0.2'}}</span>
  <span> Total Net Amount : {{total_netamount | currency:'INR':'symbol-narrow':'0.2'}}</span>
</div>