<mat-toolbar>
    <span>Response Answer</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>
<div id="wrapper">
    <form [formGroup]="Query_Form">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="query_priority" [disabled]="true">
                <mat-option value="Low">Low</mat-option>
                <mat-option value="Medium">Medium</mat-option>
                <mat-option value="High">High</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Massage</mat-label>
            <input matInput formControlName="query_message" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Answer</mat-label>
            <input matInput formControlName="query_answer" placeholder="Enter answer">
        </mat-form-field>

        <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" hidden>
        <input type="number" readonly formControlName="status" hidden>

        <div class="submit">
            <button mat-raised-button color="warn" (click)="query_reset()">Reset</button>&nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="primary" (click)="add_query()"
                [disabled]="!this.Query_Form.valid">{{actionBtn}}</button>
        </div>
    </form>
</div>