<mat-toolbar>
    <span>{{course_heading}}</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>
<div id="wrapper">
    <form [formGroup]="course_form">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="course_name" placeholder="Enter course name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Duration (Month)</mat-label>
            <input type="number" matInput formControlName="course_duration" (keyup)="total_clc()"
                placeholder="Enter duration(month)">
        </mat-form-field>

        <mat-form-field appearance="fill" (keyup)="total_clc()">
            <mat-label>Total Fee</mat-label>
            <input type="number" matInput formControlName="course_total_fee" placeholder="Enter total Fee">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Half Fee</mat-label>
            <input type="number" matInput formControlName="course_half_fee">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Quarter fee</mat-label>
            <input type="number" matInput formControlName="course_quarter_fee">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Monthly Fee</mat-label>
            <input type="number" matInput formControlName="course_monthly_fee" placeholder="Enter monthly fee ">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Admission Fee</mat-label>
            <input type="number" matInput formControlName="course_admission_fee">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input type="date" max="5050-01-01" class="boxdate" matInput formControlName="course_date">
        </mat-form-field>

        <mat-form-field appearance="fill" class="description">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="course_description" placeholder="Enter description"></textarea>
        </mat-form-field>

        <input type="number" [(ngModel)]="admin" formControlName="admin_id_fk" hidden>
        <input type="number" formControlName="institute_id_fk" hidden>
        
        <div class="submit">
            <button mat-raised-button color="warn" (click)="course_data_reset()">Reset</button>&nbsp;&nbsp;
            <button mat-raised-button color="primary" (click)="onAdd()"
                [disabled]="!course_form.valid">{{actionBtn}}</button>
        </div>
    </form>
</div>