<mat-toolbar class="add_form_title">
    <span class="example-spacer">Add Employee</span>
    <mat-icon mat-dialog-close class="close-mat-icon">cancel</mat-icon>
</mat-toolbar>
<div id="wrapper">
    <form [formGroup]="empForm">
        
        <div class="user_image" (click)="image.click()">
            <img alt="image" [src]="image_url">
            <input class="d-none" type="file" accept=".jpg,.png,.jpeg," #image (change)="onimage(image.files)">
        </div>

        <input type="number" formControlName="emp_id" readonly hidden>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input formControlName="emp_name" matInput placeholder="Enter name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>WhatsApp No</mat-label>
            <input type="number" formControlName="emp_whatsapp" matInput onkeypress="return this.value.length < 10;" placeholder="Enter whatsapp no">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Aadhar No </mat-label>
            <input type="number" formControlName="emp_aadhar_no" matInput onkeypress="return this.value.length < 12;"
                placeholder="Enter aadhar no">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" formControlName="emp_email" matInput placeholder="Enter email">
        </mat-form-field>

        <mat-form-field appearance="fill" id="password">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" type="text" formControlName="emp_password" matInput
                onkeypress="return this.value.length < 20;" placeholder="Enter password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Account No</mat-label>
            <input type="number" formControlName="emp_account_no" matInput onkeypress="return this.value.length < 18;"
                placeholder="Enter account no">
        </mat-form-field>

        <mat-form-field appearance="fill" id="account">
            <mat-label>Holder Name </mat-label>
            <input formControlName="emp_ac_holder_name" matInput placeholder="Enter holder name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>IFSC</mat-label>
            <input formControlName="emp_ifsc" matInput placeholder="Enter IFSC">
        </mat-form-field>

        <mat-form-field appearance="fill" class="description">
            <mat-label>Address</mat-label>
            <textarea formControlName="emp_address" matInput placeholder="Enter address"></textarea>
        </mat-form-field>
        
        <input type="number" readonly [ngModel]="admin_id" formControlName="admin_id_fk" hidden>
        <div class="submit">
            <button mat-raised-button color="warn" (click)="employee_data_reset()">Reset</button>&nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="primary" (click)="onSubmit()"
                [disabled]="!empForm.valid">{{actionBtn}}</button>
        </div>
    </form>
</div>