.main_area {
  padding-right: 12px;
  padding-top: 0px;
}

#thumbnail {
  width: calc(25% - 20px);
  height: 123px;
  border-left: 5px solid#1d1f23;
  border-radius: 5px;
  float: left;
  margin-top: 20px;
  margin-left: 18px;
  background-color: #393b42;
}

mat-icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
  float: right;
  margin: 20px;
  color: whitesmoke;
  margin-top: 30px;
}

#thumbnail span {
  font-size: 16px;
  line-height: 35px;
  margin-left: 20px;
  color:whitesmoke;
}

#thumbnail span {
  line-height: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 1px 1px 1px rgb(112, 110, 110);
  text-align: left;
}

@media(min-width:920px)and (max-width:1199px) {
  .main_area {
    padding-right: 0px;
  }

  #thumbnail {
    width: calc(33% - 20px);
  }

  #thumbnail span {
    font-size: 20px;
    line-height: 25px;
    margin-left: 10px;
  }

  mat-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-top: 35px;
  }
}

@media(min-width:767px)and (max-width:920px) {
  .main_area {
    padding-right: 0px;
  }

  #thumbnail {
    width: calc(49.2% - 20px);
  }

  #thumbnail span {
    font-size: 20px;
    line-height: 25px;
    margin-left: 10px;
  }

  mat-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-top: 35px;
  }
}

@media(min-width:420px)and (max-width:767px) {
  .main_area {
    padding-right: 0px;
  }

  #thumbnail {
    width: calc(96.5% - 20px);

  }

  #thumbnail span {
    font-size: 20px;
    line-height: 25px;
    margin-left: 10px;
  }

  mat-icon {
    font-size: 28px;
    margin: 35px 20px 0px 0px;
  }
}

@media(max-width:420px) {
  .main_area {
    padding-right: 4px;
  }

  #thumbnail {
    width: 100%;
    margin-top: 10px;
    margin-left: 2px;
  }

  #thumbnail span {
    font-size: 15px;
    line-height: 25px;
    margin-left: 10px;
  }

  mat-icon {
    width: 25px;
    height: 25px;
    font-size: 25px;
    margin-top: 35px;
    margin-left: 0px;
  }
}