<mat-toolbar>
    <span>Addmission</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>
<div id="wrapper">
    <form [formGroup]="addmission_form">
        <mat-form-field appearance="fill">
            <mat-label>Registration Number</mat-label>
            <input matInput formControlName="std_regist_no" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Course</mat-label>
            <mat-select formControlName="course_id_fk" (valueChange)="get_course($event)">
                <mat-option *ngFor="let course of course_data"
                    [value]="course.course_id">{{course.course_name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Duration</mat-label>
            <input matInput formControlName="course_duration" readonly placeholder="Enter duration">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Course fee</mat-label>
            <input matInput formControlName="course_total_fee" readonly placeholder="Enter course fee">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Half Fee</mat-label>
            <input matInput formControlName="course_half_fee" readonly placeholder="Enter half fee">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Quarter Fee</mat-label>
            <input matInput formControlName="course_quarter_fee" readonly placeholder="Enter quarter fee">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Monthly Fee</mat-label>
            <input matInput formControlName="course_monthly_fee" readonly placeholder="Enter monthly fee">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Admission Fee</mat-label>
            <input matInput formControlName="course_admission_fee" readonly placeholder="Enter admission fee">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Batch</mat-label>
            <mat-select formControlName="batch_id_fk" (valueChange)="get_batch($event)">
                <mat-option *ngFor="let batch of batch_data" [value]="batch.batch_id">{{batch.batch_name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Batch Arrival</mat-label>
            <input type="time" class="boxdate" matInput formControlName="batch_arrival" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Batch Departure</mat-label>
            <input type="time" class="boxdate" matInput formControlName="batch_departure" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Batch Status</mat-label>
            <input matInput formControlName="batch_status" readonly placeholder="Enter batch status">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Batch Date</mat-label>
            <input type="date" class="boxdate" matInput formControlName="batch_date" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Roll</mat-label>
            <input matInput formControlName="roll_no" readonly placeholder="Enter roll number">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Admission Date</mat-label>
            <input type="date" class="boxdate" matInput formControlName="admission_date">
        </mat-form-field>

        <!-- <mat-form-field appearance="fill" class="example-full-width desc" id="total">
            <mat-label>Description</mat-label>
            <input type="text" matInput formControlName="description" placeholder="Enter description">
        </mat-form-field> -->

        <mat-form-field appearance="fill" class="description">
            <mat-label>Description</mat-label>
            <textarea matInput ormControlName="description" placeholder="Enter address"></textarea>
        </mat-form-field>

        <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" hidden>
        <input type="number" readonly [ngModel]="admissition_status" formControlName="admissition_status" hidden>

        <div class="submit">
            <button mat-raised-button color="primary" (click)="addstd()"
                [disabled]="!this.addmission_form.valid">{{actionBtn}}</button>
        </div>
    </form>
</div>