#wrapper{
    width: 200px;
    height:210px;
}
mat-toolbar{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
   margin-bottom: 5px;
   background: none;
}
mat-form-field{
    width: 100%;
}
.submit{
    display: flex;
    justify-content: center;
}
.submit button{
    margin-right: 10px;
}