<mat-toolbar>
    <span>Registration</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>
<div id="wrapper">
    <form [formGroup]="inst_regist_from">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Institute Name</mat-label>
            <input matInput formControlName="inst_name" [readonly]="disable_box" placeholder="Enter institute name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Owner Name</mat-label>
            <input matInput formControlName="inst_owner_name" [readonly]="disable_box" placeholder="Enter owner name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>WhatsApp No</mat-label>
            <input type="number" matInput formControlName="inst_whatsapp_no" onkeypress=" return this.value.length < 10"
                [readonly]="disable_box" placeholder="Enter whatsapp number">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput formControlName="inst_email" placeholder="Enter email"
                [readonly]="disable_box">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" id="password">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="inst_password"
                onkeypress=" return this.value.length < 20" [readonly]="disable_box" placeholder="Enter Password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Date</mat-label>
            <input type="date" class="boxdate" max="5050-01-01" matInput formControlName="inst_regist_date" [readonly]="disable_box">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" class="description">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="inst_address" [readonly]="disable_box"
                placeholder="Enter address"></textarea>
        </mat-form-field>

        <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" hidden>

        <div class="submit">
            <button [disabled]="disable_box" mat-raised-button color="primary" (click)="inst_regist()"
                [disabled]="!inst_regist_from.valid">{{action_btn}}</button>
        </div>

        <div [hidden]="otp_hidden_area">

            <mat-form-field class="example-full-width" appearance="fill" class="description">
                <mat-label>OTP</mat-label>
                <input type="number" matInput formControlName="otp_recive" (keyup)="match_otp()"
                    placeholder="Enter Email OTP" onkeypress=" return this.value.length < 6">
            </mat-form-field>

            <div class="submit">
                <button mat-raised-button color="primary" (click)="inst_regist()">Resend</button> &nbsp; &nbsp;
                <button mat-raised-button color="primary" (click)="final_submit()">Verify</button>
            </div>
        </div>
    </form>
</div>