<mat-toolbar class="add_form_title">
  <span class="example-spacer">Add Notes</span>
  <mat-icon mat-dialog-close class="close-mat-icon">cancel</mat-icon>
</mat-toolbar>

<div id="wrapper">
  <form [formGroup]="inst_notes_form">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Course</mat-label>
      <mat-select formControlName="course_id_fk" (valueChange)="get_unit($event)">
        <mat-option *ngFor="let course of course_data" [value]="course.course_id">{{course.course_name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Unit</mat-label>
      <mat-select formControlName="unit_id_fk">
        <mat-option *ngFor="let unit of   unitdata" [value]="unit.unit_id">{{unit.unitname}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="user_image">
      Uplodad PDF
      <input type="file" accept=".pdf" #image (change)="OnUpload(image.files)">
    </div><br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Notes Title</mat-label>
      <input matInput formControlName="inst_notes_title" placeholder="Enter notes title">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput formControlName="inst_notes_description" placeholder="Enter description">
    </mat-form-field>

    <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" hidden>

    <div class="submit">
      <button mat-raised-button color="primary" (click)="inst_notes_btn()"
        [disabled]="!this.inst_notes_form.valid">{{actionBtn}}</button>
    </div>
  </form>
</div>