.view_notice {
  height: 40px;
  width: 100%;
  background-color: #1d1f23;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.notice_text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 16px;
}

.certificate_link {
  background-color: #1d1f23;
  border-radius: 5px;
  height: 37px;
  font-size: 12px;
  color: whitesmoke;
  margin: 5px 5px 0px 0px;
}

.active {
  background-color: #3f50b5;
}

#main_button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.add_btn {
  width: auto;
  height: 35px;
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  word-spacing: 4px;
  font-size: 15px;
  cursor: pointer;
}

button {
  height: 30px;
  margin-left: 200px;
  margin-top: -26px;
  float: right;
  background-color: #1d1f23;
  color: whitesmoke;
  border-radius: 5px;
  margin-bottom: 20px;
}

mat-form-field {
  margin-right: 5px;
}

.content_area {
  text-align: center;
  margin-top: 15px;
  height: auto;
}

.mat-row:hover>.mat-cell {
  color: white
}

ng-container {
  text-align: center;
}

/* for final submit  */
#doc_area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img_box {
  width: 250px;
  height: auto;
  float: left;
  margin-left: 15px;
  border: 0.5px solid gray;
  margin-top: 5px;
}

.upload_type {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.upload_type button {
  margin: 0;
  margin: 5px;
  width: 100%;
}

.img_area {
  width: 250px;
  height: 280px;
  padding: 5px;
}

img {
  width: 240px;
  height: 270px;
}

/* for media queary */
@media(max-width:1300px)and (min-width:920px) {
  mat-form-field {
    width: 98%;
    padding: 0px 15px 0px 15px;
  }
}

@media(max-width:920px)and (min-width:768px) {
  .certificate_link {
    flex: auto;
    margin-left: 2.5px;
  }

  mat-form-field {
    width: 98%;
    padding: 0px 15px 0px 15px;
  }
}

@media(max-width:768px) {
  .certificate_link {
    text-align: center;
    width: 100%;
    margin: 5px 0px 0px 0px;
  }

  mat-form-field {
    width: 98%;
    padding: 0px 15px 0px 15px;
  }

  .content_area {
    margin-top: 140px;
  }
}