<div class="wrapper">
    <div class="header">
        <span>{{course_data.course_name}}</span>
        <!-- <span class="round_box">{{counter}} Sec</span> -->
        <!-- <span class="round_box" [routerLink]="['/studenthome/quizresult']">Score: {{score}}</span> -->
    </div>

    <div id="main">
        <form [formGroup]="quizfrom">
            <div id="ques_viewport">
                <p id="ques_viewport_head">Question {{currentQuestion + 1}} of {{count_ques}}:</p>
                <span class="ques_text">
                    <p><b>Q.</b>&nbsp;&nbsp;{{questionlist[currentQuestion]?.quiz_question}}</p>

                    <mat-card formControlName="quiz_option_a" (click)="option1($event)"
                        [style.background-color]="backgroundColor1">
                        <mat-card-content>
                            <span
                                [style.color]="color1"><b>(A)</b>&nbsp;&nbsp;&nbsp;{{questionlist[currentQuestion]?.quiz_option_a}}
                            </span>
                        </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card formControlName="quiz_option_b" (click)="option2($event)"
                        [style.background-color]="backgroundColor2">
                        <mat-card-content>
                            <span
                                [style.color]="color2"><b>(B)</b>&nbsp;&nbsp;&nbsp;{{questionlist[currentQuestion]?.quiz_option_b}}
                            </span>
                        </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card formControlName="quiz_option_c" (click)="option3($event)"
                        [style.background-color]="backgroundColor3">
                        <mat-card-content>
                            <span
                                [style.color]="color3"><b>(C)</b>&nbsp;&nbsp;&nbsp;{{questionlist[currentQuestion]?.quiz_option_c}}
                            </span>
                        </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card formControlName="quiz_option_d" (click)="option4($event)"
                        [style.background-color]="backgroundColor4">
                        <mat-card-content>
                            <span
                                [style.color]="color4"><b>(D)</b>&nbsp;&nbsp;&nbsp;{{questionlist[currentQuestion]?.quiz_option_d}}
                            </span>
                        </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card class="text_info" [hidden]="hidden">
                        <mat-card-content>
                            {{questionlist[currentQuestion]?.quiz_description}}
                        </mat-card-content>
                    </mat-card>
                    <br>
                </span>
            </div>
            <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" hidden>
        </form>
    </div>
    <div class="PreNext">
        <button mat-raised-button color="basic" [disabled]="currentQuestion==0" (click)="previewsQues()">Previews
            Question</button>
        <button mat-raised-button color="basic"(click)="nextQues()">{{(currentQuestion==count_ques-1)?'Final Submit':'Next Question'}}</button>
    </div>
</div>