<div id="wrapper">
    <div class="result_box">
        <div id="header">
            <img src="assets/educatorbox.png" width="200px" height="120px">
            <div class="inst_name">{{inst_name}}</div>
        </div>
        <div class="user_logo">
            <img src={{url}}{{img_url}}>
        </div>

        <div class="score_box">
            <label for="circle" style="color: green;">Score
                <div class="circle">{{score}}</div>
            </label>
            <label for="circle" style="color: rgb(25, 9, 201);">Result
                <div  >{{result}}</div>
            </label>
            <label for="circle" style="color: red;">Target
                <div class="circle">{{grade}}</div>
            </label>
        </div>
    </div>
</div>