<mat-toolbar class="add_form_title">
    <span class="example-spacer">{{instupdate}}</span>
    <mat-icon mat-dialog-close class="close-mat-icon">cancel</mat-icon>
</mat-toolbar>
<div id="wrapper">
    <form [formGroup]="InstForm">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="inst_name" placeholder="Enter institute name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Owner Name</mat-label>
            <input matInput formControlName="inst_owner_name" placeholder="Enter owner name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Whatsapp Number</mat-label>
            <input matInput type="number" formControlName="inst_whatsapp_no" onkeypress="return this.value.length < 10;"
                oninput="if(this.value.length>=10) { this.value = this.value.slice(0,10); }"
                placeholder="Enter whatsapp number">
        </mat-form-field>

        <mat-form-field appearance="fill" class="margin_top">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="inst_email" placeholder="Enter E-mail">
        </mat-form-field>

        <mat-form-field appearance="fill" id="password">
            <mat-label>Password</mat-label>
            <input type="password" [type]="hide ?'password' : 'text'" matInput formControlName="inst_password"
                placeholder="Enter password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <mat-select disableRipple formControlName="inst_country">
                <mat-option value="India">India</mat-option>
                <mat-option value="Nepal">Nepal</mat-option>
                <mat-option value="Srilanka">Srilanka</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <mat-select disableRipple formControlName="inst_state">
                <mat-option value="Bihar">Bihar</mat-option>
                <mat-option value="Jharkhand">Jharkhand</mat-option>
                <mat-option value="Utter Pardesh">Utter Pardesh</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="margin_top">
            <mat-label>District</mat-label>
            <mat-select disableRipple formControlName="inst_district">
                <mat-option value="Vaisahli">Vaisahli</mat-option>
                <mat-option value="Chhapra">Chhapra</mat-option>
                <mat-option value="Muzaffarpur">Muzaffarpur</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Account Number</mat-label>
            <input matInput type="number" formControlName="account_no" placeholder="Enter account number">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>IFSC</mat-label>
            <input matInput ype="number" formControlName="inst_ifsc" placeholder="Enter ifsc">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Holder Name</mat-label>
            <input matInput formControlName="account_holder" placeholder="Enter holder name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Document type</mat-label>
            <mat-select disableRipple formControlName="inst_doct">
                <mat-option value="Aadhar">Aadhar</mat-option>
                <mat-option value="Pan Card">Pan Card</mat-option>
                <mat-option value="Driving Licence">Driving Licence</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="user_image" (click)="logo.click()">
            <img alt="Logo" [src]="logo_url">
            <input class="d-none" type="file" accept=".jpg,.png,.jpeg," #logo (change)="onlogo(logo.files)">
        </div>

        <div class="user_image" (click)="document.click()">
            <img alt="document" [src]="document_url">
            <input class="d-none" type="file" accept=".jpg,.png,.jpeg," #document (change)="ondocument(document.files)">
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Document Number</mat-label>
            <input matInput formControlName="inst_doct_number" placeholder="Enter document number">
        </mat-form-field>

        <mat-form-field appearance="fill" id="address">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="inst_address" placeholder="Enter address"></textarea>
        </mat-form-field>

        <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" hidden>
        <input type="number" readonly formControlName="inst_id" hidden>

        <div class="submit">
            <button mat-raised-button color="warn" (click)="reset()">Reset</button>&nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="primary" (click)="addInst()"
                [disabled]="!InstForm.valid">{{actionBtn}}</button>
        </div>
    </form>
</div>