<mat-toolbar>
    <span class="example-spacer">{{heading_act}}</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>
<div id="wrapper">
    <form [formGroup]="student_form">

        <mat-form-field class="example-full-width" appearance="fill" hidden>
            <mat-label>Registration No</mat-label>
            <input matInput formControlName="std_regist_no" readonly>
        </mat-form-field>

        <div class="user_image" (click)="image.click()">
            <img alt="image" [src]="image_url">
            <input class="d-none" type="file" accept=".jpg,.png,.jpeg," #image (change)="onimage(image.files)">
        </div>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="std_name" placeholder="Enter name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Father Name</mat-label>
            <input matInput formControlName="std_father_name" placeholder="Enter father name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Father Occupation</mat-label>
            <input matInput formControlName="std_father_occupation" placeholder="Enter father occupation">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>WhatsApp No</mat-label>
            <input formControlName="std_whatsapp_no" matInput type="number" onkeypress=" return this.value.length < 10"
                placeholder="Enter whatsapp no">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Aadhar No</mat-label>
            <input type="number" matInput formControlName="std_aadhar" onkeypress=" return this.value.length < 12"
                placeholder="Enter aadhar no" [readonly]="action_textbox">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput formControlName="std_email" placeholder="Enter email"
                [readonly]="action_textbox">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" id="password">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="std_password"
                placeholder="Enter password" [readonly]="!isPasswordActive">
            <button *ngIf="isPasswordActive" mat-icon-button matSuffix (click)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>DOB</mat-label>
            <input type="date" class="boxdate" max="5050-01-01" matInput formControlName="std_dob">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Gender : </mat-label>
            <mat-select formControlName="std_gender" [ngModel]="autoselect">
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Other">Other</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>State</mat-label>
            <mat-select formControlName="std_state" (valueChange)="get_district($event)">
                <mat-option *ngFor="let state of state_data"
                    [value]="state.state_name">{{state.state_name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>District</mat-label>
            <mat-select formControlName="std_district">
                <mat-option *ngFor="let district of district_data"
                    [value]="district.district_name">{{district.district_name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Center Registration No.</mat-label>
            <input type="text" matInput formControlName="center_reg_no" placeholder="Center registration no">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" hidden>
            <mat-label>Date</mat-label>
            <input type="date" max="5050-01-01" matInput formControlName="std_regist_date">
        </mat-form-field>

        <mat-form-field appearance="fill" class="description">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="std_address" placeholder="Enter address"></textarea>
        </mat-form-field>

        <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" hidden>
        <input type="text" formControlName="std_img" readonly hidden>

        <div class="submit">
            <button mat-raised-button color="warn" (click)="resetpassword()" *ngIf="!isPasswordActive">Reset
                Password</button>&nbsp;
            <button mat-raised-button color="warn" (click)="convert_to_admission_data_reset()"
                *ngIf="isPasswordActive">Reset</button>&nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="primary" (click)="student_btn()"
                [disabled]="!this.student_form.valid">{{ActionBtn}}</button>
        </div>
    </form>
</div>