<div class="head">
  <span>Institute Admission</span>
</div>
<div class="count_area">
  <span class="notice_text">Total : {{admission_count}}</span>
  <div class="search">
    <input type="text" placeholder="Search" id="search_box" matInput (keyup)="applyFilter($event)" #input>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="institute_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> S.N. </th>
      <td mat-cell *matCellDef="let row; let i = index">{{(paginatorRef.pageIndex * paginatorRef.pageSize)+(i+1)}}</td>
    </ng-container>

    <ng-container matColumnDef="institute_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Institute</th>
      <td mat-cell *matCellDef="let row"> {{row.inst_name}}</td>
    </ng-container>

    <ng-container matColumnDef="institute_owner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner Name</th>
      <td mat-cell *matCellDef="let row"> {{row.inst_owner_name}} </td>
    </ng-container>

    <ng-container matColumnDef="institute_whatsapp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Whatsapp</th>
      <td mat-cell *matCellDef="let row"> {{row.inst_whatsapp_no}} </td>
    </ng-container>

    <ng-container matColumnDef="institute_email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row"> {{row.inst_email}} </td>
    </ng-container>

    <ng-container matColumnDef="institute_state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
      <td mat-cell *matCellDef="let row"> {{row.inst_state}} </td>
    </ng-container>

    <ng-container matColumnDef="institute_district">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>District</th>
      <td mat-cell *matCellDef="let row"> {{row.inst_district}} </td>
    </ng-container>

    <ng-container matColumnDef="total_admission">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Admission</th>
      <td mat-cell *matCellDef="let row" style="cursor: pointer;">
        <span (click)="get_admission(row)" class="link_box">{{row.total_admission}}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" id="thead"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="thead"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="9" style="color:silver;">No record found"{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator #paginatorRef [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>