<!-- for institute forgot password form starting here -->

<mat-toolbar class="add_form_title">
    <span class="example-spacer">Forgot Password</span>
    <mat-icon mat-dialog-close class="close-mat-icon">cancel</mat-icon>
</mat-toolbar>

<div id="wrapper">
    <form [formGroup]="ForgotPassword">

        <!-- for institute email -->
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="Enter email" formControlName="inst_email" [readonly]="email_box">
        </mat-form-field>

        <!-- for institute document no -->
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Document No</mat-label>
            <input matInput placeholder="Enter document no" formControlName="document_no" [readonly]="email_box">
        </mat-form-field>

        <div class="pwd_forgot">
            <button [disabled]="email_box" mat-raised-button color="primary" [disabled]="!ForgotPassword.valid"
                (click)="onreset()">Reset</button>
        </div><br [hidden]="otpaction">

        <mat-form-field class="example-full-width" appearance="fill" [hidden]="otpaction">
            <mat-label>Enter OTP</mat-label>
            <input matInput placeholder="Enter email OTP" formControlName="otp_recive">
        </mat-form-field><br [hidden]="otpaction">

        <div class="pwd_forgot" [hidden]="otpaction">
            <button mat-raised-button color="primary" (click)="onreset()">Resend</button> &nbsp;
            <button mat-raised-button color="primary" (click)="verifyotp()">Verify</button>
        </div>
        
        <!-- for institute new password  -->
        <mat-form-field class="example-full-width" appearance="fill" [hidden]="otpaction1">
            <mat-label>Enter New Password</mat-label>
            <input matInput placeholder="Enter new password" [type]="hide ? 'password' : 'text'"
                formControlName="inst_password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field><br [hidden]="otpaction1">

        <!-- for final password change submit -->
        <div class="pwd_forgot" [hidden]="otpaction1">
            <button mat-raised-button color="primary" (click)="chnagepass()">Submit</button>
        </div>
    </form>
</div>