<div id="thumbnail">
    <div class="thumbnail_box" routerLink="/adminhome/homeenquiry">
        <mat-icon>business</mat-icon><br>
        <span><b>{{enquiry_count}}</b></span><br><br>
        <span>Enquiry</span>
    </div>
    <div class="thumbnail_box" routerLink="/adminhome/institute">
        <mat-icon>business</mat-icon><br>
        <span><b>{{institute_count}}</b></span><br><br>
        <span>Institue</span>
    </div>
    <div class="thumbnail_box" routerLink="/adminhome/inscourse">
        <mat-icon>library_books</mat-icon><br>
        <span><b>{{course_count}}</b></span><br><br>
        <span>Course</span>
    </div>
    <div class="thumbnail_box" routerLink="/adminhome/insbatch">
        <mat-icon>assignment</mat-icon><br>
        <span><b>{{batch_count}}</b></span><br><br>
        <span>Batch</span>
    </div>
    <div class="thumbnail_box" routerLink="/adminhome/insstudent">
        <mat-icon>school</mat-icon><br>
        <span><b>{{student_count}}</b></span><br><br>
        <span>Student</span>
    </div>
    <div class="thumbnail_box" routerLink="/adminhome/insadmission">
        <mat-icon>local_library</mat-icon><br>
        <span><b>{{admission_count}}</b></span><br><br>
        <span>Admission</span>
    </div>
    <div class="thumbnail_box" routerLink="/adminhome/insdues">
        <mat-icon>money_off</mat-icon><br>
        <span><b>{{dues_count}}</b></span><br><br>
        <span>Dues</span>
    </div>
    <div class="thumbnail_box" routerLink="/adminhome/inspayment">
        <mat-icon>payment</mat-icon><br>
        <span><b>{{received_count}}</b></span><br><br>
        <span>Received</span>
    </div>
</div>