/* for sidebar scrollbar in all */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #cac7c7;
    color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: rgb(110, 110, 110);
}

    
.mat-menu-panel {
    margin-top: 10px;
}

.action_btn {
    color: whitesmoke;
    background-color: #1d1f23;
}

.action_btn:hover {
    background-color: #3f50b5 !important;
}

.example-spacer {
    flex: 1 1 auto;
}



/* for details head */
.head {
    height: 40px;
    width: 100%;
    background-color: #1d1f23;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

/* for count area */
.count_area {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 2px 5px;
    box-sizing: border-box;
    color: #1d1f23;
    flex-wrap: wrap;
    justify-items: center;
}

/* for search box */
#search_box {
    border: none;
    border-bottom: 1px solid #1d1f23;
    outline: none;
    padding: 5px 0px;
    background-color: whitesmoke;
}

#search_box:hover::placeholder {
    color: #1d1f23;
}

.mat-paginator-container {
    background: whitesmoke;
}

/* for media queary starting here */

@media(max-width:768px) {
    .all_dialog .mat-dialog-container {
        width: calc(100vw - 40px);
        height: auto;
        position: fixed;
        top: 64px;
        left: 20px;
        right: 20px;
    }
}


/* Custom color for the present radio button */
.mat-radio-button[value="1"] .mat-radio-outer-circle {
    border-color: green; /* Green color for the outer circle */
  }
  
  .mat-radio-button[value="1"]:checked .mat-radio-inner-circle {
    background-color: green; /* Green inner circle when checked */
  }
  
  .mat-radio-button[value="1"] .mat-radio-label {
    color: green; /* Green label text */
  }
  
  /* Custom color for the absent radio button */
  .mat-radio-button[value="0"] .mat-radio-outer-circle {
    border-color: red; /* Red color for the outer circle */
  }
  
  .mat-radio-button[value="0"]:checked .mat-radio-inner-circle {
    background-color: red; /* Red inner circle when checked */
  }
  
  .mat-radio-button[value="0"] .mat-radio-label {
    color: red; /* Red label text */
  }